{% extends "base.html" %}

{% block content %}
    {% block event_detail %}
      <div class="" id="">
        <div class="row">
          {% block event_msg %}
            {% if result %}
              {% if result=="OK" %}
                <div class="alert alert-dismissable alert-success">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong>加入活动成功!</strong> 您的信息已经添加到活动参与人列表里。
                </div>
              {% elif result['status']=="ERROR" %}
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong>{{ result['msg'] }}</strong>
                </div>
              {% end %}
            {% end %}
          {% end %}
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h2>{{ event['title'].get('zh_CN', None) or event['title'].get('en_US', None) }}</h2>
            <div>{% if event['date_start'].date() == event['date_end'].date() %}
              <h5 class="h5"><i class="fa fa-clock-o"></i> {{ event['date_start'].strftime("%Y年%m月%d日 %H:%M") }} 至 {{ event['date_end'].strftime("%H:%M") }}</h5>{% else %}
              <h5 class="h5"><i class="fa fa-clock-o"></i> {{ event['date_start'].strftime("%Y年%m月%d日 %H:%M") }} 至 {{ event['date_end'].strftime("%Y年%m月%d日 %H:%M") }}</h5>{% end %}
              <h5 class="h5"><i class="fa fa-map-marker"></i> {{ event['address']['city'] }} {{ event['address']['district'] }} {{ event['address']['street1'] }}{{ event['address']['street2'] }}</h5>
              <h5 class="h5"><i class="fa fa-users"></i> {{ event['fee_description'] }} {{ event['total_participants_limit'] }}人</h5>

            </div>
            <p class="lead visible-lg">{{ event['description'].get('zh_CN') or event['description'].get('en_US', None) }}</p>

          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            {% if event['posters'] %}
            <div class="" style="padding-bottom: 12px;">
              <img class="img-responsive" src="/images/{{ event['posters'][0] }}" />
              <!--<img class="img-responsive" src="http://121.40.173.54/images/154848186994.jpg" />-->
            </div>
            {% end %}

            <p class="lead hidden-lg">{{ event['description'].get('zh_CN') or event['description'].get('en_US', None) }}</p>
          </div>
        </div>
    {% end %}
        <div class="row" style="max-width: 600px;">
          {% block event_other %}{% end %}
          {% if participants %}
          <div class="col-lg-6 col-md-5 col-sm-6">
            <p><i class="fa fa-ticket"></i> 已报名: {{ participants.get('count', 0) }} 人</p>
          </div>
          {% end %}
        </div>
      </div>
{% end %}